<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="image-pic"
        src="images/image.jpg"
        alt="image.png"
        <!-- style="width: 300px; height: 300px; border-radius: 300px;" -->
      />
      <div class="display-4">Azril Achmad</div>
      <div class="lead">Kerja Koloran</div>
    </div>
  </div>
</div>
